.catalog {
  margin-top: 170px;
  max-height: 1101px;
  &__title {
    color: #0d0d0d;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
  }
  &__choise {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__elem {
    display: flex;
    width: 210px;
    height: 52px;
    transform: skewX(-30deg);
    align-items: center;
    justify-content: center;
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border: 2px solid #d0d0d0;
    cursor: pointer;
    &:hover {
      box-shadow: 3px 3px 20px $main-color;
      transition: 0.5s all;
      border: none;
    }
  }
  &__elem_active {
    background-color: $main-color;
    color: #fff;
    border: none;
  }
  &__text {
    transform: skewX(30deg);
  }
  &__wrap {
    margin-top: 57px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;
  }
  &__item {
    position: relative;
    display: flex;
    padding: 20px;
    width: 303px;
    height: 442px;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
  }
  &__image {
    img {
      width: 100%;
      max-height: 200px;
      display: block;
      margin: 0 auto;
    }
  }
  &__lot {
    margin-top: 16px;
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
  }
  &__descr {
    margin-top: 16px;
    color: #0d0d0d;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
  }
  &__more {
    margin-top: 11px;
    a {
      color: #c70101;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-transform: uppercase;
      text-decoration-line: underline;
    }
  }
  &__divider {
    width: 263px;
    height: 4px;
    background-color: #e8e8e8;
    margin-top: 18px;
  }
  &__pricewrap {
    width: 263px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__oldprice {
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    text-decoration: line-through;
  }
  &__currentprice {
    color: #050505;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
  &__item:hover {
    border: 3px solid grey;
  }
  &__item-back {
    position: absolute;
    padding: 15px;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 303px;
    height: 442px;
    border: 1px solid blue;
    ul {
      margin-top: 20px;
    }
    .pricewrap-back {
      margin-top: 101px;
    }
  }
}
