.footer {
  position: relative;
  height: 630px;

  &__wrap {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0 55px 0;
    width: 460px;
    height: 270px;
    background-color: $main-color;
  }
  &__address {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
  &__tel {
    margin-top: 36px;
    text-align: center;
    a {
      color: #fff;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
    }
    a:hover {
      color: blue;
    }
  }
  &__social {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    column-gap: 27px;
  }
  &__item {
    display: flex;
    width: 52px;
    height: 52px;
    background-color: $main-color;
    border-radius: 50%;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
  }
  &__item:hover {
    background-color: blue;
    transition: 0.5s all;
  }
}
